/* front page */

html, body.home {
  height: 100%;
  #content-wrapper {
    height: 100%;
  }
  .is-front-page {
    .navbar.closed {
      top: -@navbar-height;
    }
  }
  .site-header {
    width: 100%;
    height: 100%;
    background-color: #AAA;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  .post-header,
  .site-header {
    .site-header-body {
      h1 {
        color: @body-bg;
      }
      position: absolute;
      bottom: 15%;
      background: fade(@gray-dark, 30%);
      left: 50%;
      text-align: center;
      color: #FFF;
      margin-left: -40%;
      width: 80%;
      img {
        max-height: 100px;
        width: auto;
      }
      @media (min-width: @screen-sm-min) {
        bottom: 180px;
        margin-left: -30%;
        width: 60%;
        img {
          max-height: 180px;
        }
      }
      @media (min-width: @screen-md-min) {
        margin-left: -20%;
        width: 40%;
      }
    }
  }
  .post-header {
    @media (max-width: @screen-xs-min) {
      padding-bottom: 35%;
    }
    .site-header-body {
      bottom: 3%;
      @media (max-width: @screen-xs-min) {
        font-size: 1em;
        h1 {
          font-size: 1.4em;
        }
      }
    }
  }
  /* when posts are the front page */
  &.paged {
    .site-header {
      height: 350px;
      .site-header-body {
        bottom: 10%;
      }
    }
  }
}
